# ee/ is the enterprise-license boundary and takes no external contributions
# (see ee/LICENSE); license-related files need an owner review.
/ee/ @liangsir-z
/LICENSE @liangsir-z
/NOTICE @liangsir-z
/.github/CODEOWNERS @liangsir-z
